.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-wrapper__input {
    width: calc(calc(100px * 5) + calc(1rem * 5));
    height: 40px;
    background-color: #cccccc;
    border: 2px solid #666666;
    font-size: 24px;
    text-align: center;
    border-radius: 8px;
    color: white;
}

.input-wrapper__input:focus-visible {
    outline: none;
}

.prediction-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prediction-wrapper__prediction {
    font-size: 20px;
    color: white;
}