.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #cccccc;
    font-family: Calibri;
}

.page__header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

.page__content {
    display: block;
    min-height: 100%;
    min-width: 100%;
}